<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple and elegant personal web template. useful for creating designers protfolios. A product from bottlebyte.">
    <meta name="author" content="Krishna Teja G S">
	<meta name="keywords" content="bottle css, bottlebyte, free webtemplate, free html template">
    <title>Bottle CSS</title>
    <link rel="stylesheet" href="lib/bottle.css" >
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light">
    <link rel="stylesheet" href="lib/style.css" >
  </head>
<body class="bg-white">

<div class="bcontainer bg-dp-lt-white">
  <div class="brow">
    <div class="bcol-50">
      <img src="img/image.jpg" class="front" width="100%"/>
    </div>
    <div class="bcol-50">
      <div class="wrap-2">
      <p class="right">
        <a href="index.html" title="Home" class="tooltip">
          <i class="fa fa-home  tx-dp-lt-ash"></i>
        </a>
        <a href="about.html" title="About" class="tooltip">
        <i class="fa fa-user  tx-dp-lt-ash"></i>
        </a>
        <a href="projects.html" title="Projects" class="tooltip">
        <i class="fa fa-folder-open  tx-dp-lt-ash"></i>
        </a>
        <a href="connect.html" title="Connect" class="tooltip">
        <i class="fa fa-globe  tx-dp-lt-ash"></i>
        </a>
        <a href="contact.html" title="Contact" class="tooltip">
        <i class="fa fa-envelope  tx-dp-lt-ash"></i>
        </a>
      </p><br>
      <h2>About Me</h2>
      <p>
      im <span class="tx-dp-lt-blue">krishna Teja</span>, im a computer science engineer by qualification, a physics teacher by profession and a programmer by interest.I'm an expert in building visually stunning web apps using javascript, html5, css3 and php.I love to code and hate to document or debug.
      </p>
      <hr>
      <p><a href="lib/cv.doc"><i class="fa fa-download"></i> Download my CV </a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>