<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple and elegant personal web template. useful for creating designers protfolios. A product from bottlebyte.">
    <meta name="author" content="Krishna Teja G S">
  <meta name="keywords" content="bottle css, bottlebyte, free webtemplate, free html template">
    <title>Meemo Template</title>
    <link rel="stylesheet" href="lib/bottle.css" >
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="lib/style.css" >
    <link rel="shortcut icon" type="image/x-icon" href="http://packetcode.github.io/bottlebyte/favicon.ico">
  </head>
<body >

<div class="bcontainer ">
<div class="strip-top bg-white"></div>
<div class="wrap bg-dp-lt-yellow">
 <div class="brow">
  <div class="bcol-30">
    <div class="image-container bg-white">
      <img src="img/image.jpg" width="100%"/>
      </div>
  </div>
  <div class="bcol-70">
    <div class="brow">
      <div class="bcol-90">
      <div class="wrap2 tx-white">
        <div class="name">PROJECTS</div>
        <div class="sub-title ">MADE OUT OF PASSION </div><br>
        
        <div class="brown">
        <div class="project"><i class="fa fa-folder-open"></i> pathang</div>
        <div class="project-info"> 
          A simple developer friendly web app development framework. <br>
          <a href="https://pathang.net">
          <i><small>learn more</small></i>
          </a>
        </div>
      </div>
       <div class="brown">
        <div class="project"><i class="fa fa-folder-open"></i> Feedstack</div>
        <div class="project-info"> 
          A simple php social networking script designed using pathang framework.<br>
          <a href="http://feedstack.asia">
          <i><small>learn more</small></i>
          </a>
        </div>
      </div>

      </div>
        
      </div>
      <div class="bcol-10">
        <p class="fa-icons tx-dp-lt-yellow">
        <a href="index.html" title="Home" >
         <div class="menu-icon">
          <i class="fa fa-home  tx-dp-lt-yellow"></i>
          </div>
        </a>
        <a href="projects.html" title="Projects" >
         <div class="menu-icon">
        <i class="fa fa-folder-open tx-dp-lt-yellow"></i>
        </div>
        </a>
        <a href="connect.html" title="Connect" >
         <div class="menu-icon">
        <i class="fa fa-globe  tx-dp-lt-yellow"></i>
        </div>
        </a>
        <a href="contact.html" title="Contact" >
         <div class="menu-icon">
        <i class="fa fa-envelope  tx-dp-lt-yellow"></i>
        </div>
        </a>
        
      </p>
      </div>
    </div>
  </div>
 </div>
 </div>
  <div class="strip-bottom bg-white"></div>
</div>

</body>
</html>